.footer {
  margin-top: -10px;
  &__text {
    padding: 20px 0px 20px 0px;
    line-height: 3.75;
    text-align: center;
    color: $pinkish-grey;
    position: relative;
    p {
      position: relative;
      z-index: 1;
    }
    &::after {
      content: "";
      position: absolute;
      width: 100vw;
      margin-left: calc(-50vw + 50%);
      height: 100%;
      top: 0;
      left: 0;
      background-color: #000;
    }
  }
}
